h1 {color: orange}

/*I am so confused and struggling*/
.square {background-color: width: 50%; }

body { font-family:monospace; ;background-color: #3FB0AC }

header, footer {
   background-color: #173E4E;
   padding: 35px;
   font-family: Arial;
   color: white; }
